@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*.clearfix {
  *zoom: 1;
  /* Für den IE6 und IE7 
}*/

.vh, .filter input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 1px;
}

.hide-item, input[type=checkbox]#border:checked ~ .filter__content .filter__item:not([data-filter*=border]), input[type=checkbox]#green:checked ~ .filter__content .filter__item:not([data-filter*=green]), input[type=checkbox]#blue:checked ~ .filter__content .filter__item:not([data-filter*=blue]), input[type=checkbox]#red:checked ~ .filter__content .filter__item:not([data-filter*=red]), input[type=checkbox]#letter:checked ~ .filter__content .filter__item:not([data-filter*=letter]), input[type=checkbox]#number:checked ~ .filter__content .filter__item:not([data-filter*=number]) {
  visibility: hidden;
  width: 0;
  transition: 0s 0.2s;
}
.hide-item span, input[type=checkbox]#border:checked ~ .filter__content .filter__item:not([data-filter*=border]) span, input[type=checkbox]#green:checked ~ .filter__content .filter__item:not([data-filter*=green]) span, input[type=checkbox]#blue:checked ~ .filter__content .filter__item:not([data-filter*=blue]) span, input[type=checkbox]#red:checked ~ .filter__content .filter__item:not([data-filter*=red]) span, input[type=checkbox]#letter:checked ~ .filter__content .filter__item:not([data-filter*=letter]) span, input[type=checkbox]#number:checked ~ .filter__content .filter__item:not([data-filter*=number]) span {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
}

.show-item, input[type=checkbox]#all:checked ~ .filter__content .filter__item[data-filter] {
  visibility: visible;
  width: 33.3333%;
  transition: 0s;
}
.show-item span, input[type=checkbox]#all:checked ~ .filter__content .filter__item[data-filter] span {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 1;
  padding: 20px 0;
  background: #eee;
}

.filter {
  background: #fff;
  max-width: 40em;
  margin: auto;
  display: flex;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.025);
}
.filter input[type=checkbox]#all:focus ~ .filter__control .filter__button[for=all] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#number:focus ~ .filter__control .filter__button[for=number] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#letter:focus ~ .filter__control .filter__button[for=letter] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#red:focus ~ .filter__control .filter__button[for=red] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#blue:focus ~ .filter__control .filter__button[for=blue] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#green:focus ~ .filter__control .filter__button[for=green] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter input[type=checkbox]#border:focus ~ .filter__control .filter__button[for=border] {
  outline: rgba(255, 133, 27, 0.5) solid 1px;
}
.filter__control {
  flex: 1;
  padding: 40px 0;
  background: #fffaf6;
}
.filter__control h3 {
  padding: 0 20px 20px;
  text-transform: uppercase;
  color: #a2a2a2;
  font-size: 12px;
  line-height: 1;
  margin: 0;
}
.filter__button {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.filter__button:before {
  content: "";
  display: block;
  background: #FF851B;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  transform: translateX(-10px);
  transition: 0.2s ease-in-out;
}
.filter__button:hover {
  padding-left: 25px;
}
.filter__button:hover:before {
  transform: translateX(-5px);
}
.filter__button.disabled, input[type=checkbox]#all:checked ~ .filter__control .filter__button:not([for=all]) {
  color: #ccc;
  padding-left: 20px !important;
  background: none !important;
  cursor: default;
  pointer-events: none;
}
.filter__button.disabled:before, input[type=checkbox]#all:checked ~ .filter__control .filter__button:not([for=all]):before {
  background: #ccc;
  opacity: 1;
  transform: translateX(-10px) !important;
}
.filter__content {
  width: 75%;
}
.filter__list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.filter__item {
  position: relative;
  width: 33.3333%;
}
.filter__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.filter__item span {
  display: flex;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: #eee;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  border-radius: 2px;
  transition: 0.2s;
}
.filter__item[data-filter*=red] span {
  background: #FF4136;
}
.filter__item[data-filter*=blue] span {
  background: #0074D9;
}
.filter__item[data-filter*=green] span {
  background: #3D9970;
}
.filter__item[data-filter*=border] span {
  border: 10px solid rgba(255, 255, 255, 0.75);
}

input[type=checkbox]#number:checked ~ .filter__control .filter__button[for=number] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#number:checked ~ .filter__control .filter__button[for=number]:before {
  transform: translateX(0px);
}
input[type=checkbox]#letter:checked ~ .filter__control .filter__button[for=letter] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#letter:checked ~ .filter__control .filter__button[for=letter]:before {
  transform: translateX(0px);
}
input[type=checkbox]#red:checked ~ .filter__control .filter__button[for=red] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#red:checked ~ .filter__control .filter__button[for=red]:before {
  transform: translateX(0px);
}
input[type=checkbox]#blue:checked ~ .filter__control .filter__button[for=blue] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#blue:checked ~ .filter__control .filter__button[for=blue]:before {
  transform: translateX(0px);
}
input[type=checkbox]#green:checked ~ .filter__control .filter__button[for=green] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#green:checked ~ .filter__control .filter__button[for=green]:before {
  transform: translateX(0px);
}
input[type=checkbox]#border:checked ~ .filter__control .filter__button[for=border] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#border:checked ~ .filter__control .filter__button[for=border]:before {
  transform: translateX(0px);
}
input[type=checkbox]#all:checked ~ input[type=checkbox] {
  display: none;
}
input[type=checkbox]#all:checked ~ .filter__control .filter__button[for=all] {
  background: #fff;
  padding-left: 30px;
}
input[type=checkbox]#all:checked ~ .filter__control .filter__button[for=all]:before {
  transform: translateX(0px);
}
@media screen and (max-width: 45rem) {
  .filter__item {
    width: 50%;
  }
}
@media screen and (max-width: 33.75rem) {
  .filter {
    flex-direction: column;
  }
  .filter__control {
    padding: 40px 0 20px;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .filter__button {
    display: inline-block;
  }
  .filter__content {
    width: 100%;
  }
  .filter__item {
    width: 33.3333%;
  }
}
body {
  background-color: #f9f2f2;
}
#ispaid-options {
  display: none;
}


#formations-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; /* Ou utilisez space-evenly */
}

#formations-list > div {
  margin-right: 2px; /* Ajustez la marge à droite entre les éléments */
  margin-left: 2px; /* Ajustez la marge à gauche entre les éléments */
}