body {
    background-color: #ffdab9; /* Caramel color */
    color: #8b4513; /* Brown color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #8b4513; /* Brown color for the submit button */
    color: #fff; /* White text for the submit button */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #654321; /* Darker brown color on hover */
}

/* Styles for the icons */
i.fas {
    margin-right: 5px;
}

/* Twitter icon */
i.fab.fa-twitter {
    color: #1da1f2; /* Twitter blue color */
}

/* Facebook icon */
i.fab.fa-facebook {
    color: #1877f2; /* Facebook blue color */
}
